Package: com.laketakecake.deviant.patch
Name: DeviantPatch
Version: 1.0.0
Architecture: iphoneos-arm
Description: A tweak to fix the crash that occurs on Deviant art 2.7.2 for iOS versions older than iOS 17, which causes the app to crash and log you out every time you try to sign in.
Maintainer: LakeTakeCake
Author: LakeTakeCake
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Icon: https://i.imgur.com/pbPiDuo.png